h1 {
    text-align: center;
    color: red;
    background-color: lightgray;
}
body {
    width: 500px;
    margin: 100px auto;
}
ul {
    display: flex;
    list-style: none;
}

li {
    padding: 10px;
    background-color: red;
    margin: 0px 10px 0px 10px;
    border-top-right-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.416);
    transition: 400ms;
}

li:hover {
    background-color: darkred;
    cursor: pointer;
    transform: translate(3px,3px);
}

footer {
    text-align: center;
}